block Menu
	ul#menu
		li.item.item01
			a(href="#{aboutLink}")
				| about
		li.item.item02
			a(href="#{collectionLink}")
				| collection
		li.item.item03.brand
			a(href="#{brandLink}")
				img.logo(src="#{assetsDev}logo.jpg")
		li.item.item04
			a(href="#{newsLink}")
				| news
		li.item.item05
			a(href="#{contactLink}")
				| contact