- var title 		= ""
- var assets 		= "assets/"

doctype html
html(lang="en")
	block head
		head
			title #{title}
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible" content="IE=edge")
			meta(name="viewport" content="width=device-width, initial-scale=1")
			link(href="#{assets}css/normalize.css", rel="stylesheet")
			link(href="#{assets}css/myStyle.css", rel="stylesheet")

	body.index
		section.concept
			.vCenter
				h1 NEW CONCEPT

				p
					strong
						| AMAZING FRAMEABLE POSTCARDS 
					br
					| is concept meant to resurrect our fascination and love for the postcards,
					br
					|in a new, modern and catchy way.

		.skrollr-body

			.square.skrollable.head(
				data-500="top: 40%; left: -20px; opacity: 0;"
				data-1000="top: 40%; left: 0; opacity: 1;"
				)
				h1 THE MAGIC OF THE SQUARE

			.square.skrollable.head(
				data-500="top: 40%; right: -20px; opacity: 0;"
				data-1000="top: 40%; right: 0; opacity: 1;"
				)
				p
					strong
						| AMAZING FRAMEABLE POSTCARDS 
					br
					| Each postcard is square shaped.
					br
					| The square is a perfect balanced and a very stable shape. The square format lends itself to a simple approach. And by simplifying, the composition intensifies the subject.
			.level2.images.skrollable(
				data-0="left: 50%; top: 130%; opacity: 1;"
				data-500="left: 50%; top: 116%; opacity: 1;"
				data-1000="left: 50%; top: 116%; opacity: 1;"
				data-1500="left: 50%; top: 50%; opacity: 1;"
				data-2000="left: 50%; top: 50%; opacity: 1;"
				data-2500="left: 50%; top: 50%; opacity: 0;"
				)
				img.frame(
					src="assets/images/rama_01.png")

			.level1.images.skrollable(
				data-2000="left: 50%; top: 50%; opacity: 0;"
				data-2500="left: 50%; top: 50%; opacity: 1;"
				data-3000="left: 50%; top: 50%; opacity: 1;"
				data-4000="left: 50%; top: 50%; opacity: 0;"
				)
				img.frame(
					src="assets/images/rama_02.png")

			.level3.images.skrollable(
				data-3500="left: 50%; top: 50%; opacity: 0;"
				data-4000="left: 50%; top: 50%; opacity: 1;"
				data-4500="left: 50%; top: 50%; opacity: 1;"
				data-5000="left: 50%; top: 45%; opacity: 0;"
				)
				img.frame(
					src="assets/images/rama_03.png")

			.level0.images.skrollable(
				data-0="left: 40%; top: 50%; opacity: 0"
				data-500="left: 50%; top: 50%; opacity: 1"
				data-1000="left: 50%; top: 50%; opacity: 1"
				data-1500=""
				data-2000="left: 50%; top: 50%; opacity: 1"
				data-3000="left: 50%; top: 50%; opacity: 1"
				)
				img.image05(
					src="assets/images/05.jpg")

			.level-1.images.skrollable(
				data-5000="opacity: 0"
				data-5500="left: 50%; top: 51%; opacity: 1"
				data-6000="left: 35%; top: 51%; opacity: 1"
				)
				img.image04(
					src="assets/images/04.jpg")
			.level-1.images.skrollable(
				data-5000="opacity: 0"
				data-5500="left: 50%; top: 51%; opacity: 1"
				data-6000="left: 65%; top: 51%; opacity: 1"
				)
				img.image03(
					src="assets/images/03.jpg")

			.level-2.images.skrollable(
				data-5500="left: 50%; top: 55%; opacity: 0"
				data-6000="left: 80%; top: 55%; opacity: 1"
				)
				img.image01(
					src="assets/images/01.jpg")
			.level-2.images.skrollable(
				data-5500="left: 50%; top: 55%; opacity: 0"
				data-6000="left: 20%; top: 55%; opacity: 1"
				)
				img.image02(
					src="assets/images/02.jpg")



			//
				.evantaiAnim.images.skrollable(
				data-2500="left: 50%; top: 50%; opacity: 0"
				data-3000="left: 80%; top: 50%; opacity: 1"
				)
				img.image03(
					src="assets/images/03.jpg")

			//
				section.scara
				img.image01(
					data-bottom-top="left: 50%"
					data-center="left: 20%"
					src="assets/images/01.jpg")
				img.image02(
					data-bottom-top="left: 50%"
					data-center="left: 80%"
					src="assets/images/02.jpg")
				img.image03(
					data-bottom-top="left: 50%"
					data-center="left: 65%"
					src="assets/images/03.jpg")
				img.image04(
					data-bottom-top="left: 50%"
					data-center="left: 35%"
					src="assets/images/04.jpg")
				img.image05(
					src="assets/images/05.jpg")
			section.single
		script(src="#{assets}js/jquery.min.js")
		script(src="assets/js/skroll.min.js")
		script(type="text/javascript").
			var s = skrollr.init();
